/*body*/
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca"
    "braco corpo"
    "peh peh";
    grid-template-rows: 100px auto auto;
    grid-template-columns: 200px auto;
}
@media only screen and (max-width: 850px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "braco"
        "corpo"
        "peh";
    grid-template-rows: 100px 50px auto 100px;
    grid-template-columns: auto;
 }
}
@media only screen and (max-width: 450px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "corpo"
        "peh";
    grid-template-rows: 100px auto auto;
    grid-template-columns: auto;
    }
    aside{
        display: none;
    }
    
}
/*header*/
header{
    background-color: #000000;
    grid-area: cabeca;
}
.headiv{
    display: flex;
    
    
}

input {
    
    width: 1000px;      
    height: 50px;

  
}

.logo{
     width: 150px;
    height: auto;
}
/*aside*/
aside{
    background-color:#0d1117;
    grid-area: braco;   
}
.asidiv{
    width: 200px;
    height: auto;
}
/*main*/
main{
    background-color: #04050f;
    grid-area: corpo;
    border: rgb(0, 0, 0) 5px solid;
}
.letras{
    font-size: 20px;
    letter-spacing: 6px;
    text-align: center; 
    color: #2d4675;
}
.a{
    color: inherit; 
    text-decoration: none;
}
img{
    height: 200px;
    width: 200;
    object-fit: cover;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border: black 2px solid;

    background-color: #2d4675; 
    width: 200px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}
.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*footer*/
footer{
    background-color: #0b0b0b;
    grid-area: peh;
}
.patrocinadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 100px;
}
.patrocinador{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    
}
.bloconegro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    width: 200px;
    height: 200px;


}
/*SST main*/
.sst{
    color: aliceblue;
    text-align: center;
    width: 1000px;
    border: 2px solid black;
}
.sst2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


