/*body*/
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca"
    "braco corpo"
    "peh peh";
    grid-template-rows: 100px auto auto;
    grid-template-columns: 200px auto;
}
@media only screen and (max-width: 850px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "braco"
        "corpo"
        "peh";
    grid-template-rows: 100px 50px auto 100px;
    grid-template-columns: auto;
 }
}
@media only screen and (max-width: 450px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "corpo"
        "peh";
    grid-template-rows: 100px auto auto;
    grid-template-columns: auto;
    }
    aside{
        display: none;
    }
    
}
/*header*//* estou a procura de uma namorada morena e adiventista*/
header{
    background-color: #000000;
    grid-area: cabeca;
}
.headiv{
    display: flex;
    
    
}

input {
    
    width: 1000px;      
    height: 50px;

  
}

.logo{
     width: 150px;
    height: auto;
}
/*aside*/
aside{
    background-color:#0d1117;
    grid-area: braco;   
}
.asidiv{
    width: 200px;
    height: auto;
}
/*main*/
main{
    background-color: #04050f;
    grid-area: corpo;
    border: rgb(0, 0, 0) 5px solid;
}
.a{
    color: inherit; 
    text-decoration: none;
}
/*footer*/
footer{
    background-color: #0b0b0b;
    grid-area: peh;
}
.patrocinadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 100px;
}
.patrocinador{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    
}
.bloconegro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    width: 200px;
    height: 200px;


}
